.theme-dark {
    --header-primary: #E5E9F0;
    --header-secondary: #E5E9F0;
    --text-normal: #dcddde;
    --text-muted: #72767d;
    --text-link: #dd85dd;
    --channels-default: #8e9297;
    --interactive-normal: #E5E9F0;
    --interactive-hover: #88C0D0;
    --interactive-active: #fff;
    --interactive-muted: #4f545c;
    --background-primary: #2E3440;
    --background-secondary: #2E3440;
    --background-secondary-alt: #2E3440;
    --background-tertiary: #3B4252;
    --background-accent: #BF616A;
    --background-floating: #BF616A;
    --background-mobile-primary: #36393f;
    --background-mobile-secondary: #2f3136;
    --background-modifier-hover: rgba(191,97,106,0.36);
    --background-modifier-active: rgba(79,84,92,0.24);
    --background-modifier-selected: rgba(79,84,92,0.32);
    --background-modifier-accent: hsla(0,0%,100%,0.06);
    --background-mentioned: rgba(250,166,26,0.05);
    --background-mentioned-hover: rgba(221, 143, 8, 0.08);
    --background-message-hover: rgba(4,4,5,0.07);
    --background-help-warning: rgba(142, 26, 250, 0.1);
    --background-help-info: rgba(0,176,244,0.1);
    --scrollbar-thin-thumb: #202225;
    --scrollbar-thin-track: transparent;
    --scrollbar-auto-thumb: #202225;
    --scrollbar-auto-track: #2e3338;
    --scrollbar-auto-scrollbar-color-thumb: #202225;
    --scrollbar-auto-scrollbar-color-track: #2f3136;
    --elevation-stroke: 0 0 0 1px rgba(4,4,5,0.15);
    --elevation-low: 0 1px 0 rgba(4,4,5,0.2),0 1.5px 0 rgba(6,6,7,0.05),0 2px 0 rgba(4,4,5,0.05);
    --elevation-medium: 0 4px 4px rgba(0,0,0,0.16);
    --elevation-high: 0 8px 16px rgba(0,0,0,0.24);
    --logo-primary: #fff;
    --focus-primary: #dd85dd;
    --radio-group-dot-foreground: #3050b9;
    --guild-header-text-shadow: 0 1px 1px rgba(0,0,0,0.4);
	

    --channeltextarea-background: #3B4252;

    --activity-card-background: #202225;

    --textbox-markdown-syntax: #BF616A;
	
    --deprecated-card-bg: rgba(32,34,37,0.6);
    --deprecated-card-editable-bg: rgba(32,34,37,0.3);
    --deprecated-store-bg: #36393f;
    --deprecated-quickswitcher-input-background: #72767d;
    --deprecated-quickswitcher-input-placeholder: hsla(0,0%,100%,0.3);
    --deprecated-text-input-bg: rgba(0,0,0,0.1);
    --deprecated-text-input-border: rgba(0,0,0,0.3);
    --deprecated-text-input-border-hover: #040405;
    --deprecated-text-input-border-disabled: #202225;
    --deprecated-text-input-prefix: #dcddde;
}

.newMessagesBar-265mhP {
	background-color: #BF616A;
}

.iconBadge-qZ4Ksk {
	background-color: #BF616A;
}

/* UNREAD PILL */
.unreadPill-2HyYtt {
	background-color: #BF616A;
	color: #E5E9F0;
}

.isUnread-3Ef-o9 .content-1o0f9g {
	color: #E5E9F0;
	background-color: #BF616A;
}

.isUnread-3Ef-o9 {
	border-color: #BF616A;
}

.unreadPillCapStroke-7rkHbg {
	fill: #BF616A;
	color: #BF616A;
}

/*  */
.mention-1f5kbO {
	background-color: #BF616A;
}

.numberBadge-2s8kKX {
	background-color: #BF616A !important;
}

.lookFilled-1Gx00P.colorBrand-3pXr91 {
	background-color: #3B4252;
	font-family: Rubik;
	border-radius: 2rem;
}

.lookFilled-1Gx00P.colorBrand-3pXr91:hover {
	background-color: #BF616A;
}

.mentioned-xhSam7:before {
	background-color: #88C0D0;
}

.menu-3sdvDG {
	background-color: #2E3440;
}

.mentioned-xhSam7 {
	background-color: rgba(129, 161, 193, 0.1);
}

.colorDefault-2K3EoJ .checkbox-3s5GYZ, .colorDefault-2K3EoJ .radioSelection-1HmrQS {
	fill: #BF616A;
}

.colorDefault-2K3EoJ:hover c, .colorDefault-2K3EoJ .radioSelection-1HmrQS {
	fill: #2E3440;
}


.colorDefault-2K3EoJ:hover .checkbox-3s5GYZ, .colorDefault-2K3EoJ {
	fill: #2E3440;
}

.colorDefault-2K3EoJ.focused-3afm-j {
	background-color: #BF616A;
}

.colorDefault-2K3EoJ.focused-3afm-j .check-1JyqgN {
	color: #BF616A;
}

.liveSmall-1dy2uA {
	background-color: #BF616A !important;
}

  /* B. Upload Modal */
  .uploadModal-2ifh8j,
  #app-mount .addGamePopout-2RY8Ju,
  #app-mount .inner-1JeGVc .container-3qKHyN,
  #app-mount .keyboardShortcutsModal-3piNz7,
  #app-mount .uploadModalIn-1z07Bv .uploadDropModal-2kTwbc .bgScale-1otPtc,
  #app-mount .modalRoot-LW89o7 {
	background: linear-gradient(var(--blurple-sheer), transparent 80%), var(--quatro) var(--stars) top left !important;
	background-attachment: fixed;
	border-radius: 10px;
  }