:root {
    --avatar-size-sm: 24px;
    --spacing: 10px;
    --spacing-third: calc(var(--spacing) / 3);
    --spacing-half: calc(var(--spacing) / 2);
    --sidebar-width: 260px; 
    --cursor: default;
}


.theme-dark {
    --background-primary: #3B4252;
    --background-secondary: #2E3440;
    --background-tertiary: #2E3440;
    --channels-default: #D8DEE9;
    --background-accent: #BF616A;
    --text-normal: #D8DEE9;
    --text-spotify: #79695a;
    --text-muted: #D8DEE9;
    --text-link: #BF616A;
    --background-floating: #3B4252;
    --focus-primary: #BF616A;
    --header-primary: #BF616A;
    --header-secondary: #BF616A;
    --header-spotify: #5d6051;
    --interactive-normal: #D8DEE9;
    --interactive-hover: #D8DEE9;
    --interactive-active: #D8DEE9;
    --background-modifier-hover: rgba(191, 97, 106, 1);
    --background-modifier-selected: rgba(191, 97, 106, 1);
    --background-message-hover: rgba(191, 97, 106, 0.1);
    --background-mentioned: rgba(129, 161, 193, 0.1);
    --background-mentioned-hover: rgba(129, 161, 193, 0.2);
    --background-mobile-primary: #2E3440;
}

.theme-light {
    --background-primary: #79695a;
    --background-secondary: #79695a;
    --background-tertiary: #79695a;
    --background-accent: #79695a;
    --text-normal: #3c3836;
    --text-muted: #504945;
    --text-link: #076678;
    --header-primary: #3c3836;
    --header-secondary: #504945;
    --header-spotify: #98971a;
    --background-floating: #79695a;
    --interactive-normal: #665c54;
    --interactive-muted: #928374;
    --interactive-hover: #504945;
    --interactive-active: #7c6f64;
}

::-webkit-scrollbar,
::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece {
    background: transparent !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    border: none !important;
    width:5px !important;
}
::-webkit-scrollbar-thumb {
    background: var(--background-secondary) !important;
    width:5px !important;
    border:none !important;
    border-radius: 2px !important;
}

div {
  font-family: "Rubik";
  font-weight:  200;
}

code {
    font-family: "FuraCode Nerd Font";
    font-weight: 300;
}

element.style {
    color: rgb(84, 94, 94);
}

span {
    color: var(--chanels-default);
}

/* Guild menu (discord forces light theme) */
div[class*="wrapper"][class*="fixClipping"]{
    background-color: var(--background-secondary);
}

/* New Messages Bar */
div[class*="newMessagesBar"] {
    background-color: var(--background-secondary);
}

/* Mentions (channel, user) */
span[class*="mention"][class*="interactive"] {
    color: var(--text-link);
}

/* Mentions (role) */
span[class*="mention"] {
    color: var(--text-link);
}

div[class^="scrollableContainer"] {
    background-color: var(--background-secondary);
}

div[class^="name"] > span {
    color: var(--channels-default);
}

h1, h2, h3 {
    color: var(--channels-default);
}

h3[class^="title"] {
    color: var(--channels-default);
}

div[class^="panels"] > div[class^="container"] {
    background-color: var(--background-secondary);
}

section[class^="panels"] > div[class^="container"] > div[class^="nameTag"] > * {
    color: var(--text-normal);
}

section[class^="panels"] > div[class^="container"] {
    background-color: var(--background-secondary);
}

div.userSettingsAccount-2eMFVR > div > div {
    background-color: var(--background-primary);
}

* > div[class^="contents"] {
    color: var(--text-normal)
}

div[class^="size14"] {
    color: var(--text-normal);
}

div[class^="topic"] {
    color: var(--text-muted);
}

div[class^="friendsTable"] {
    background-color: var(--background-primary);
}

[class^="input"] {
    background-color: var(--background-primary);
}

div[class^="uploadModal"] > div[class^="inner"], div[class^="inner"] > div[class^="uploadModal"], div[class^="uploadModal"] > div[class^="footer"] {
    background-color: var(--background-primary);
}

[class^="usernameContainer"]:not([style]){
    color: var(--text-normal)
}

div[class^="username"] {
    background-color: inherit;
}

span[class^="wrapperHover"][role="button"] {
    color: var(--text-link)
}

[class^="autocompleteInner"] {
    background-color: var(--background-secondary)
}


a[class^="wrapper"] {
    color: var(--text-normal)
}

[class^="tooltipRight"] {
    color: var(--text-normal)
}

div[role="dialog"] {
    color: var(--background-primary)
}

div[class*="activityPanel"] {
    background-color: var(--background-secondary)
}

div[class^="text"] {
    color: var(--text-normal)
}

div[class^="side"] > div[class^="item"] {
    background-color: var(--background-secondary)
}

[class^="userInfoViewing"] {
    background-color: var(--background-secondary);
}

[class*="lookFilled"][class*="colorBrand"] {
    background-color: var(--text-link);
}

div[class*="tooltip"] {
    background-color: var(--background-secondary);
}
div[class*="contextMenu" ] {
    background-color: var(--background-secondary);
}

div[class*="header"] {
    background-color: var(--background-primary)
}

div[class*="details"] {
    color: var(--text-normal);
}

div[class*="headerTextNormal"] {
    background-color: var(--background-secondary);
}

span {
    color: var(--text-normal)
}

span[class*="headerName"] {
    color: var(--background-accent)
}

div[class*="userPopout"] > div[class*="footer"] {
    background-color: var(--background-primary)
}

div[class*="scrollerWrap"][class*="body"] > div[class*="scroller"] {
    background-color: var(--background-primary)
}

[class*="footer"] > [class*="quickMessage"] {
    background-color: var(--background-primary)
}

div[class^="topSectionPlaying"] > header[class^="header"] {
    background-color: var(--background-secondary);
}

header[class^="title"] {
    color: var(--text-normal)
}

div[class^="tabBody"] {
    background-color: var(--background-primary);
}

div[class^="topSectionNormal"] > header > div[class^="headerInfo"]{
    background-color: inherit;
}

div[class^="topSectionSpotify"] > header > div[class^="headerInfo"]{
    background-color: inherit;
}

div[class^="topSectionSpotify"] {
    background-color: var(--header-spotify);
}

div[class*="nameNormal"][class*="ellipsis"][class*="textRow"][class*="weightSemiBold"] > a {
    color: var(--text-normal)
}

div[class*="detailsWrap"][class*="textRow"] > span > a {
    color: var(--text-normal);
}

div[class*="state"][class*="ellipsis"][class*="textRow"] > span > a {
    color: var(--text-normal);
}

div[class^="headerTextNormal"][class*="headerText"][class*="small"][class*="marginBottom8"][class*="weightBold"] {
    color: var(--text-normal);
    background-color: var(--background-secondary);
    background: transparent !important;
}

div[class*="details"][class*="ellipsis"][class*="textRow"] {
    color: var(--text-normal)
}

div[class*="timestamp"] {
    color: var(--text-normal)
}

section[class^="section"] {
    background-color: var(--background-secondary);
}

div[class*="container"] > div[class*="contentWrapper"] {
    background-color: var(--background-secondary);
}

div[class*="selectorSelected"][class*="selector"] {
    background-color: var(--background-tertiary);
}

div[class*="selectorSelected"][class*="selector"] > * > div[class*="marginLeft"] {
    color: var(--text-normal)
}

div[class*="selectorSelected"][class*="selector"] > * > div[class*="colorStandard"] {
    color: var(--text-muted);
}

[class*="selector"] > * > div[class*="marginLeft"] {
    color: var(--text-normal)
}

[class*="selector"] > * > div[class*="colorStandard"] {
    color: var(--text-muted);
}

/* Settings Header */
div[class*="header-2RyJ0Y"] {
    color: var(--interactive-normal)
}

div[class*="infoBar"] {
    background-color: var(--background-tertiary);
}

div[class*="body"][class*="scrollerBase"][class*="thin"] {
    background-color: var(--background-primary);
}

/* Fix text colour when Spotify is playing */
div[class*="topSectionSpotify"] > header > div[class*="headerInfo"] > div[class*="nameTag"] > * {
    color: var(--text-spotify);
}

/* Fix button colours */
div[class*="topSectionSpotify"] > header > button[class*="actionButton"] {
    background-color: var(--background-tertiary);
}

div[class*="topSectionNormal"] > header > button[class*="actionButton"] {
    background-color: var(--background-secondary);
}

div[class*="topSectionPlaying"] > header > button[class*="actionButton"] {
    background-color: var(--background-tertiary);
}

/** Search **/
div[class*="resultsGroup"] {
    background-color: var(--background-secondary);
}

div[class*="resultsGroup"] > div[class*="option"]::after {
    background-color: var(--background-secondary);
    background: transparent
}

div[class*="resultsGroup"] > div[class*="option"]:hover {
    background-color: var(--background-primary);
}

/** Channel topic **/
div[class*="layerContainer"] > div[class*="layer"] > div[class*="focusLock"] > div[class*="modal"] > div[class*="content"] {
    background-color: var(--background-secondary);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/** Playing statuses */
* > div[class*="activityText"] {
    color: var(--text-muted);
}

* > svg {
    color: var(--interactive-hover)
}

/** Header fixes */
* > span[class*="activityName"] {
    color: var(--text-normal)
}

div[class*="activityUserPopout"] > h3[class*="headerTextNormal"][class*="headerText"] {
   color: var(--text-normal);
}

/** Role names */
div[class*="roleName"] {
    color: var(--text-normal);
}

/** That discord icon on the top left */
.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9 {
    background-color: var(--background-primary);
}
.wrapper-1BJsBx .childWrapper-anI2G9 {
    background-color: var(--background-primary);
}

/** and the pill beside it */
div[class*="pill"] > span[class*="item"] {
    background-color: var(--header-primary)
}

/** Deleted Messages */
div[class*="focusLock"] > div[class*="root"] > div[class*="content"] {
    background-color: var(--background-secondary);
}
div[class*="focusLock"] > div[class*="root"] > div[class*="content"] > div[class*="message"] {
    background-color: var(--background-tertiary);
}

div[class*="focusLock"] > div[class*="root"] > div[class*="flex"] {
    background-color: var(--background-secondary);
}

/** Bot Tags */
span[class*="botTag"] {
    background-color: var(--text-link)
}

/** Discover Guilds */
div[class*="circleIconButton"][class*="selected"] {
    background-color: var(--background-message-hover);
}

div[class*="dragRegion"] {
    background-color: var(--background-secondary);
}

div[class*="container"] > div[class*="base"] > div[class*="content"] div[class*="scroller"][class*="auto"] {
    background-color: var(--background-primary);
}

section[class*="guildListSection"] > div[class*="guildList"] > div[class*="loaded"] > div[class*="card"] {
    background-color: var(--background-tertiary);
}

div[class*="searchBox"] {
    border-color: var(--background-secondary);
}

div[class*="searchBox"] > div[class*="inputWrapper"] {
    background-color: var(--background-tertiary);
    
}

div[class*="headerContentWrapper"] {
    background-color: var(--background-primary);
}

div[class*="headerContentWrapper"] > div[class*="headerContent"] {
    background-color: var(--background-primary);
}

div[class*="container"] > div[class*="search"] {
    border-color: var(--background-primary);
    color: var(--background-primary);
}

div[class*="headerContentWrapper"] > div[class*="headerContent"] > * {
    color: var(--text-normal)
}

div[class*="categoryItem"][class*="selected"] > div[class*="itemInner"] {
    background-color: var(--text-link);
}
div[class*="categoryItem"][class*="selected"] > div[class*="itemInner"] > * {
    color: var(--text-normal)
}

/* Support new integrations menu */
div[class*="flex"][class*="justifyStart"] > button[class*="copyButton"] {
    background-color: var(--background-tertiary);
}

div[class*="flex"][class*="vertical"][class*="directionColumn"] > div[class*="body"] {
    background-color: var(--background-secondary);
}

/* Fix Invites */
div[class*="customScroller"] > div[class*="listContent"] > div[class*="headerSection"] {
    background-color: var(--background-primary);
}

div[class*="flexChild"] > h4[class*="title"] {
    color: var(--text-muted);
}
div[class*="flexChild"] > div[class*="text"] {
    color: var(--text-muted);
}

/* Fix Nickname Menu */
div[class*="root"] > form > div[class*="content"] {
    background-color: var(--background-secondary);
}

div[class*="root"] > form > div[class*="content"] > div[class*="input"] > h5[class*="colorStandard"] {
    background-color: var(--background-secondary);
    margin: 0;
    color: var(--text-normal);
}


div[class*="root"] > form > div[class*="content"] > div[class*="input"] > div[class*="inputWrapper"] > input {
    background-color: var(--background-tertiary);
}

div[class*="flex"][class*="horizontalReverse"][class*="directionRowReverse"] {
    background-color: var(--background-floating);
}

/* Fix "Listen Along" */

/* Modal */
div[class*="modal"] > div[class*="inner"] > div[class*="modal"] > div[class*="content"] {
    background-color: var(--background-secondary);
}

div[class*="modal"] > div[class*="inner"] > div[class*="modal"] > div[class*="content"] > div[class*="invite"] {
    background-color: var(--background-primary);
}

div[class*="header"][class*="inFront"] {
    background-color: var(--background-primary);
    color: var(--text-muted);
}

div[class*="flex"][class*="directionRow"][class*="alignEnd"] > div > button {
    background-color: var(--text-link);
}

div[class*="content"][class*="thin"] > div[class*="textArea"] > div[class*="scrollableContainer"] {
    background-color: var(--background-primary);
}

/* Embed */
div[id*="messages"] > div[class*="container"] > div[class*="invite"] {
    background-color: var(--background-secondary);
}

div[id*="messages"] > div[class*="container"] > div[class*="invite"] > * > * > div[class*="header"] {
    background-color: var(--background-secondary);
}

div[class*="details"] > a[class*="anchor"] {
    color: var(--text-normal);
}

div[class*="state"] {
    color: var(--text-normal);
}

div[class*="state"] > span > a[class*="anchor"] {
    color: var(--text-normal);
}

/* Tooltip fix */
div[class*="tooltipContent"] {
    color: var(--text-normal);
}

/* MessageBox fix */
div[class*="markdown"] {
    color: var(--text-normal);
}

/* Spotify in Powercord */
div[class="powercord-spotify"] {
    background-color: var(--background-secondary);
}

div[class="powercord-spotify hover"] {
    background-color: var(--background-secondary);
}

/** Change Progress Bar colour */
div[class="powercord-spotify"] > div[class*="spotify-seek"] > div[class*="spotify-seek-bar"] > * {
    background-color: var(--header-spotify);
}

/** Change Progress Bar colour */
div[class="powercord-spotify hover"] > div[class*="spotify-seek"] > div[class*="spotify-seek-bar"] > * {
    background-color: var(--header-spotify);
}

/* BetterDiscord toasts */
/* TODO: Fix shadows of toasts */
div[class="bd-toast"] {
    background: var(--background-floating);
    color: var(--text-normal);
}

.themed-OHr7kt.item-PXvHYJ {
    color: var(--channels-normal);
}

/* Sadly colors of other toasts(toast-info, toast-success, toast-warning, toast-error) can't be overridden */

/** Gruvbox (dark) Highlight.js theme. Ported from https://github.com/highlightjs/highlight.js/blob/master/src/styles/gruvbox-dark.css */
.theme-dark .hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: #1a1815;
}
  
.theme-dark .hljs,
.hljs-subst {
    color: #E5E9F0;
}
  
/* Gruvbox Red */
.theme-dark
.hljs-deletion,
.hljs-formula,
.hljs-keyword,
.hljs-link,
.hljs-selector-tag {
    color: #674441;
}
  
/* Gruvbox Blue */
.theme-dark
.hljs-built_in,
.hljs-emphasis,
.hljs-name,
.hljs-quote,
.hljs-strong,
.hljs-title,
.hljs-variable {
    color: #545e5e;
}
  
/* Gruvbox Yellow */
.hljs-attr,
.hljs-params,
.hljs-template-tag,
.hljs-type {
    color: #84694e;
}
  
/* Gruvbox Purple */
.theme-dark
.hljs-builtin-name,
.hljs-doctag,
.hljs-literal,
.hljs-number {
    color: #614c4c;
}
  
/* Gruvbox Orange */
.theme-dark
.hljs-code,
.hljs-meta,
.hljs-regexp,
.hljs-selector-id,
.hljs-template-variable {
    color: #fe8019;
}
  
/* Gruvbox Green */
.theme-dark
.hljs-addition,
.hljs-meta-string,
.hljs-section,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-string,
.hljs-symbol {
    color: #5d6051;
}
  
/* Gruvbox Aqua */
.theme-dark
.hljs-attribute,
.hljs-bullet,
.hljs-class,
.hljs-function,
.hljs-function .hljs-keyword,
.hljs-meta-keyword,
.hljs-selector-pseudo,
.hljs-tag {
    color: #4d5c5c;
}
  
/* Gruvbox Gray */
.theme-dark,
.hljs-comment {
    color: #928374;
}
  
/* Gruvbox Purple */
.theme-dark
.hljs-link_label,
.hljs-literal,
.hljs-number {
    color: #614c4c;
}
  
.theme-dark
.hljs-comment,
.hljs-emphasis {
    font-style: italic;
}
  
.theme-dark
.hljs-section,
.hljs-strong,
.hljs-tag {
    font-weight: bold;
}

.theme-dark .userSettingsAccount-3wUMIP .viewBody-1l56Sd {
    color: #79695a;
}

.lookOutlined-3sRXeN.colorRed-1TFJan {
    color: #674441;
    border-color: #674441;
}

.lookFilled-1Gx00P.colorRed-1TFJan {
    color: #fff;
    background-color: #674441;
}

.theme-dark .headerClickable-2IVFo9, .theme-dark .headerDefault-1wrJcN {
    background-color: var(--background-modifier-hover);
    color: #79695a;
}

.theme-dark .auditLog-3jNbM6 strong {
    color: var(--text-muted);
}

.theme-dark .closeButton-1tv5uR {
    border-color: #79695a;
}

.background-1QDuV2 {
    border-radius: 8px;
    background-color: var(--background-modifier-hover);
    padding: 16px;
}

.lookFilled-1Gx00P.colorGrey-2DXtkV {
    color: #fff;
    background-color: #5d6051;
}

.grid-1nZz7S {
    padding: .5rem 1rem 1rem .75rem;
    display: inline-grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    background: var(--background-message-hover);
}

.header-QKLPzZ {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 20px;
    background: var(--background-modifier-selected);
}

theme-dark .selected-1Tbx07 {
    background-color: var(--background-message-hover);
}

.blockquoteContainer-U5TVEi {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: var(--background-primary);
}

.blockquoteDivider-2hH8H6 {
    background-color: var(--text-link);
}

.themed-OHr7kt.item-PXvHYJ {
    color: var(--interactive-active);
}

.markup-2BOw-j code {
    background-color: #1a1815;
}

.role-2irmRk {
    background-color: var(--background-tertiary);
    border-radius: 4px;
    border: none;
    padding: 0 5px 0 8px;
    height: 25px;
}
.role-2irmRk.actionButton-VzECiy {
    background-color: var(--background-tertiary);
    padding-left: 7px;
    padding-right: 7px;
}
.role-2irmRk .roleCircle-3xAZ1j {
    margin-right: 6px;
    width: 9px;
    height: 9px;
}

.liveSmall-1dy2uA {
	background-color: #BF616A !important;
}

.colorDefault-2K3EoJ.focused-3afm-j .check-1JyqgN {
	color: #BF616A;
}

.colorDefault-2K3EoJ.focused-3afm-j {
    background-color: #BF616A;
}

/* UNREAD PILL */
.unreadPill-2HyYtt {
	background-color: #BF616A;
	color: #E5E9F0;
}

.isUnread-3Ef-o9 .content-1o0f9g {
	color: #E5E9F0;
	background-color: #BF616A;
}

.isUnread-3Ef-o9 {
	border-color: #BF616A;
}

.unreadPillCapStroke-7rkHbg {
	fill: #BF616A;
	color: #BF616A;
}

.newMessagesBar-265mhP {
	background-color: #BF616A;
}

.iconBadge-qZ4Ksk {
	background-color: #BF616A;
}


.rtcConnectionStatusConnected-VRZDjy {
    color: #A3BE8C;
}

.rtcConnectionQualityFine-2J6i8z .pingForeground-2uAOZ3 {
    color: #A3BE8C;
}

.mention-1f5kbO {
    background-color: #BF616A;
}

#splash {
    background-color: --background-primary;
}


.numberBadge-2s8kKX {
    background-color: #BF616A !important;
}

.strikethrough-1n4ekb {
    color: #BF616A !important;
}

.mentioned-xhSam7:before {
    background-color: #81A1C1;
}

.pointerEvents-2zdfdO {
    fill: #BF616A;
}

/* liveIndicator-3aBbkJ live-vBWnV6 liveLarge-3zs2Zq textBadge-1iylP6 base-PmTxvP */
.liveIndicator-3aBbkJ {
    background-color: #BF616A !important;
}

.container-1giJp5 {
    background-color: var(--background-secondary);
    border: none;
}

#app-mount .panels-j1Uci_ {
    background: var(--background-light);
    position: relative;
    box-sizing: border-box;
  }
  #app-mount .panels-j1Uci_::before {
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    position: absolute;
  }
  #app-mount .panels-j1Uci_ button {
    height: var(--avatar-size-sm);
    flex: 1;
    border-radius: 0;
    transition: none;
    cursor: var(--cursor);
  }
  #app-mount .panels-j1Uci_ button svg {
    height: 16px;
    color: var(--text-normal);
  }
  #app-mount .panels-j1Uci_ button svg path[d="M19.738 10H22V14H19.739C19.498 14.931 19.1 15.798 18.565 16.564L20 18L18 20L16.565 18.564C15.797 19.099 14.932 19.498 14 19.738V22H10V19.738C9.069 19.498 8.203 19.099 7.436 18.564L6 20L4 18L5.436 16.564C4.901 15.799 4.502 14.932 4.262 14H2V10H4.262C4.502 9.068 4.9 8.202 5.436 7.436L4 6L6 4L7.436 5.436C8.202 4.9 9.068 4.502 10 4.262V2H14V4.261C14.932 4.502 15.797 4.9 16.565 5.435L18 3.999L20 5.999L18.564 7.436C19.099 8.202 19.498 9.069 19.738 10ZM12 16C14.2091 16 16 14.2091 16 12C16 9.79086 14.2091 8 12 8C9.79086 8 8 9.79086 8 12C8 14.2091 9.79086 16 12 16Z"] {
    d: path("M14 8.77v-1.6l-1.94-.64-.45-1.09.88-1.84-1.13-1.13-1.81.91-1.09-.45-.69-1.92h-1.6l-.63 1.94-1.11.45-1.84-.88-1.13 1.13.91 1.81-.45 1.09L0 7.23v1.59l1.94.64.45 1.09-.88 1.84 1.13 1.13 1.81-.91 1.09.45.69 1.92h1.59l.63-1.94 1.11-.45 1.84.88 1.13-1.13-.92-1.81.47-1.09L14 8.75v.02zM7 11c-1.66 0-3-1.34-3-3s1.34-3 3-3 3 1.34 3 3-1.34 3-3 3z");
    transform: scale(1.35) translateY(1px);
  }
  #app-mount .panels-j1Uci_ button svg path[d="M12 2.00305C6.486 2.00305 2 6.48805 2 12.0031V20.0031C2 21.1071 2.895 22.0031 4 22.0031H6C7.104 22.0031 8 21.1071 8 20.0031V17.0031C8 15.8991 7.104 15.0031 6 15.0031H4V12.0031C4 7.59105 7.589 4.00305 12 4.00305C16.411 4.00305 20 7.59105 20 12.0031V15.0031H18C16.896 15.0031 16 15.8991 16 17.0031V20.0031C16 21.1071 16.896 22.0031 18 22.0031H20C21.104 22.0031 22 21.1071 22 20.0031V12.0031C22 6.48805 17.514 2.00305 12 2.00305Z"] {
    d: path("M12 8.02c0 1.09-.45 2.09-1.17 2.83l-.67-.67c.55-.56.89-1.31.89-2.16 0-.85-.34-1.61-.89-2.16l.67-.67A3.99 3.99 0 0112 8.02zM7.72 2.28L4 6H2c-.55 0-1 .45-1 1v2c0 .55.45 1 1 1h2l3.72 3.72c.47.47 1.28.14 1.28-.53V2.81c0-.67-.81-1-1.28-.53zm5.94.08l-.67.67a6.996 6.996 0 012.06 4.98c0 1.94-.78 3.7-2.06 4.98l.67.67A7.973 7.973 0 0016 8c0-2.22-.89-4.22-2.34-5.66v.02zm-1.41 1.41l-.69.67a5.05 5.05 0 011.48 3.58c0 1.39-.56 2.66-1.48 3.56l.69.67A5.971 5.971 0 0014 8.02c0-1.65-.67-3.16-1.75-4.25z");
    transform: scale(1.35) translateY(1px);
  }
  #app-mount .panels-j1Uci_ button svg path[d="M6.16204 15.0065C6.10859 15.0022 6.05455 15 6 15H4V12C4 7.588 7.589 4 12 4C13.4809 4 14.8691 4.40439 16.0599 5.10859L17.5102 3.65835C15.9292 2.61064 14.0346 2 12 2C6.486 2 2 6.485 2 12V19.1685L6.16204 15.0065Z"] {
    d: path("M8 2.81v10.38c0 .67-.81 1-1.28.53L3 10H1c-.55 0-1-.45-1-1V7c0-.55.45-1 1-1h2l3.72-3.72C7.19 1.81 8 2.14 8 2.81zm7.53 3.22l-1.06-1.06-1.97 1.97-1.97-1.97-1.06 1.06L11.44 8 9.47 9.97l1.06 1.06 1.97-1.97 1.97 1.97 1.06-1.06L13.56 8l1.97-1.97z");
    transform: scale(1.35) translateY(1px) translateX(1px);
  }
  #app-mount .panels-j1Uci_ button svg path[d="M6.16204 15.0065C6.10859 15.0022 6.05455 15 6 15H4V12C4 7.588 7.589 4 12 4C13.4809 4 14.8691 4.40439 16.0599 5.10859L17.5102 3.65835C15.9292 2.61064 14.0346 2 12 2C6.486 2 2 6.485 2 12V19.1685L6.16204 15.0065Z"] ~ path {
    display: none;
  }
  #app-mount .panels-j1Uci_ button svg .strikethrough-1n4ekb {
    color: currentColor;
  }
  #app-mount .panels-j1Uci_ button:hover {
    background: var(--accent-solid) !important;
    box-shadow: none;
  }
  #app-mount .panels-j1Uci_ button:hover svg {
    color: var(--white);
  }
  #app-mount .panels-j1Uci_ .activityPanel-28dQGo {
    border: none;
  }
  #app-mount .panels-j1Uci_ .container-1giJp5 {
    position: relative;
    border: none;
  }
  #app-mount .panels-j1Uci_ .subtext-3CDbHg {
    color: var(--text-focus);
  }
  #app-mount .panels-j1Uci_ .channel-1TmDQ6 {
    font-size: var(--font-size-sm);
  }
  #app-mount .panels-j1Uci_ .container-1giJp5 {
    padding: var(--spacing);
  }
  #app-mount .panels-j1Uci_ .container-1giJp5 .inner-tyMogq {
    flex: 0;
    min-width: 18px;
  }
  #app-mount .panels-j1Uci_ .container-1giJp5 .horizontal-1ae9ci > .flex-1xMQg5:last-child {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: flex-end;
    background: var(--background);
    border-radius: var(--border-radius);
    border: 1px solid var(--base-border);
    width: calc(100% - 28px);
    box-sizing: border-box;
    overflow: hidden;
  }
  #app-mount .panels-j1Uci_ .container-1giJp5 .horizontal-1ae9ci > .flex-1xMQg5:last-child button {
    min-width: 41.8px;
    flex: 0;
  }
  #app-mount .panels-j1Uci_ .container-1giJp5 .disabledButtonWrapper-3wH6-b {
    flex: none;
    margin-right: 0;
    min-width: 42px;
    min-height: 26px;
    height: 26px;
  }
  #app-mount .panels-j1Uci_ .container-1giJp5 .disabledButtonWrapper-3wH6-b button {
    flex: 0;
    width: 100%;
  }
  #app-mount .panels-j1Uci_ .rtcConnectionStatus-2-jIsi .statusWithPopout-3ZfFol {
    position: absolute;
    font-size: 0;
    top: calc(var(--spacing) + 1px);
    left: 39px;
    background: transparent;
    width: 40.8px;
    height: 24px;
    z-index: 2;
    border-radius: var(--border-radius) 0 0 var(--border-radius);
  }
  #app-mount .panels-j1Uci_ .rtcConnectionStatus-2-jIsi .statusWithPopout-3ZfFol .contents-18-Yxp {
    font-size: 0;
    -webkit-mask: url('data:image/svg+xml; utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M6 2a.75.75 0 01.696.471L10 10.731l1.304-3.26A.75.75 0 0112 7h3.25a.75.75 0 010 1.5h-2.742l-1.812 4.528a.75.75 0 01-1.392 0L6 4.77 4.696 8.03A.75.75 0 014 8.5H.75a.75.75 0 010-1.5h2.742l1.812-4.529A.75.75 0 016 2z"></path></svg>') center/cover no-repeat;
            mask: url('data:image/svg+xml; utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M6 2a.75.75 0 01.696.471L10 10.731l1.304-3.26A.75.75 0 0112 7h3.25a.75.75 0 010 1.5h-2.742l-1.812 4.528a.75.75 0 01-1.392 0L6 4.77 4.696 8.03A.75.75 0 014 8.5H.75a.75.75 0 010-1.5h2.742l1.812-4.529A.75.75 0 016 2z"></path></svg>') center/cover no-repeat;
    background: var(--text-normal);
    width: 16px;
    height: 16px;
  }
  #app-mount .panels-j1Uci_ .rtcConnectionStatus-2-jIsi .statusWithPopout-3ZfFol:hover .contents-18-Yxp {
    background: var(--white);
  }
  #app-mount .panels-j1Uci_ .rtcConnectionStatus-2-jIsi + a {
    display: none;
  }
  #app-mount .panels-j1Uci_ .actionButtons-14eAc_ {
    position: absolute;
    top: var(--spacing);
    left: calc(var(--spacing) + 70px);
    margin-top: 0;
    z-index: 1;
    height: 27px;
  }
  #app-mount .panels-j1Uci_ .actionButtons-14eAc_ button {
    margin: 1px 0 0;
    padding: 0;
    min-height: var(--avatar-size-sm);
    width: 41.8px;
    font-size: 0;
    min-width: unset;
    border: none;
    background: transparent;
  }
  #app-mount .panels-j1Uci_ .actionButtons-14eAc_ .buttonIcon-Od8mYw {
    margin-right: 0;
  }
  #app-mount .panels-j1Uci_ > .container-3baos1 {
    padding: var(--spacing);
    height: auto;
    box-sizing: border-box;
    margin-bottom: 0;
    overflow: visible;
    border-top: 1px solid var(--base-border);
  }
  #app-mount .panels-j1Uci_ > .container-3baos1 .avatarWrapper-2yR4wp {
    position: absolute;
    left: var(--sidebar-width);
    margin: 0 var(--spacing);
    z-index: 10;
  }
  #app-mount .panels-j1Uci_ > .container-3baos1 .avatarWrapper-2yR4wp:hover .wrapper-3t9DeA, #app-mount .panels-j1Uci_ > .container-3baos1 .avatarWrapper-2yR4wp[aria-expanded=true] .wrapper-3t9DeA {
    box-shadow: 0 0 0 1px var(--accent-solid);
    transition: 100ms ease;
  }
  #app-mount .panels-j1Uci_ > .container-3baos1 .avatarWrapper-2yR4wp:hover .wrapper-3t9DeA rect:not([fill=transparent]), #app-mount .panels-j1Uci_ > .container-3baos1 .avatarWrapper-2yR4wp[aria-expanded=true] .wrapper-3t9DeA rect:not([fill=transparent]) {
    transition: 100ms ease;
    stroke: var(--accent-solid);
  }
  #app-mount .panels-j1Uci_ > .container-3baos1 .avatarWrapper-2yR4wp .wrapper-3t9DeA {
    width: var(--avatar-size-sm) !important;
    height: var(--avatar-size-sm) !important;
    opacity: 1;
    cursor: var(--cursor);
  }
  #app-mount .panels-j1Uci_ > .container-3baos1 .avatarWrapper-2yR4wp .wrapper-3t9DeA svg[x="14.5"] {
    x: 0;
    y: 0;
  }
  #app-mount .panels-j1Uci_ > .container-3baos1 .avatarWrapper-2yR4wp .wrapper-3t9DeA svg[x="14.5"] mask rect[x*="8."]:not([x*="7."]) {
    x: 12;
    y: 12.5;
  }
  #app-mount .panels-j1Uci_ > .container-3baos1 .avatarWrapper-2yR4wp .wrapper-3t9DeA svg[x="14.5"] rect {
    x: 10px;
    y: 8px;
  }
  #app-mount .panels-j1Uci_ > .container-3baos1 .nameTag-3uD-yy {
    display: none;
  }
  #app-mount .panels-j1Uci_ > .container-3baos1 .directionRow-3v3tfG {
    display: flex;
    width: 100%;
    background: var(--background);
    overflow: hidden;
  }
  #app-mount .panels-j1Uci_ .title-eS5yk3 {
    font-size: var(--font-size);
  }

  .lookFilled-1Gx00P.colorBrand-3pXr91:hover {
      background-color: #3B4252;
  }

  .input-cIJ7To.focused-1mmYsC, .input-cIJ7To:focus {
      border-color: #BF616A;
  }

  .error-25JxNp {
      color: #81A1C1;
  }

  /* dsdsdsddsdsddsdsdsdsdsds */


body #app-mount .container-1r6BKw {
  background: var(--toolbar-background);
  height: var(--toolbar-height);
  border-bottom: 1px solid var(--toolbar-border);
  padding-left: 0;
  position: relative;
  overflow: visible;
}
body #app-mount .container-1r6BKw .children-19S4PO {
  flex: none;
  height: calc(var(--toolbar-height) - 1px);
  min-width: 230px;
  padding: var(--spacing);
  border-right: 1px solid var(--toolbar-border);
  position: relative;
  overflow: visible;
}
body #app-mount .container-1r6BKw .children-19S4PO .followButton-L6L-Us {
  margin: 0;
  margin-left: var(--spacing);
  border-color: var(--toolbar-border);
  background: var(--toolbar-background-hover);
  color: var(--toolbar-text-normal);
  z-index: 1;
}
body #app-mount .container-1r6BKw .children-19S4PO .followButton-L6L-Us:hover {
  background: var(--toolbar-background-hover) !important;
}
body #app-mount .container-1r6BKw .children-19S4PO .followButton-L6L-Us:focus {
  border-color: currentColor !important;
  box-shadow: 0 0 0 1px currentColor !important;
}
body #app-mount .container-1r6BKw .children-19S4PO .input-2A_zIr,
body #app-mount .container-1r6BKw .children-19S4PO .input-cIJ7To {
  background: var(--toolbar-background);
  border: 1px solid var(--toolbar-border) !important;
  color: var(--toolbar-text-normal);
}
body #app-mount .container-1r6BKw .children-19S4PO .input-2A_zIr:hover,
body #app-mount .container-1r6BKw .children-19S4PO .input-cIJ7To:hover {
  border: 1px solid var(--toolbar-background-hover) !important;
}
body #app-mount .container-1r6BKw .children-19S4PO .input-2A_zIr:focus,
body #app-mount .container-1r6BKw .children-19S4PO .input-cIJ7To:focus {
  border: 1px solid var(--accent-solid) !important;
  color: var(--toolbar-text-focus);
}
body #app-mount .container-1r6BKw .children-19S4PO .iconWrapper-2OrFZ1 {
  margin: 0 var(--spacing) 0 0;
}
body #app-mount .container-1r6BKw .children-19S4PO .iconWrapper-2OrFZ1 .icon-22AiRD {
  width: 16px;
  color: var(--toolbar-text-muted);
}
body #app-mount .container-1r6BKw .children-19S4PO .iconWrapper-2OrFZ1 .channelName-qsg_a_ {
  margin: 0;
}
body #app-mount .container-1r6BKw .children-19S4PO h3 {
  font-size: var(--font-size);
  font-weight: var(--font-weight-semibold);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--toolbar-text-normal);
  -webkit-user-select: none;
          user-select: none;
  line-height: normal;
  flex: 1;
}
body #app-mount .container-1r6BKw .children-19S4PO h3:before {
  display: block;
  content: var(--i18n-current-channel);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-normal);
  color: var(--toolbar-text-muted);
}
body #app-mount .container-1r6BKw .children-19S4PO .akaBadge-1M-1Gw,
body #app-mount .container-1r6BKw .children-19S4PO .divider-3FBTu8 {
  display: none;
}
body #app-mount .container-1r6BKw .children-19S4PO .topic-TCb_qw {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
body #app-mount .container-1r6BKw .children-19S4PO .topic-TCb_qw a {
  display: none;
}
body #app-mount .container-1r6BKw .children-19S4PO .nicknames-1XK4Zt {
  position: absolute;
  left: var(--spacing);
  font-size: var(--font-size);
  color: var(--text-normal);
  background: var(--background);
  border-radius: var(--border-radius);
  width: -webkit-fit-content;
  width: fit-content;
  padding: var(--spacing-half) var(--spacing);
  bottom: -36px;
  margin: 0;
  border: 1px solid var(--base-border);
  box-sizing: border-box;
  box-shadow: var(--elevation-1);
  overflow: visible;
  max-height: 25px;
  display: flex;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: 100ms ease opacity;
}
body #app-mount .container-1r6BKw .children-19S4PO .nicknames-1XK4Zt:after {
  content: "";
  width: 10px;
  height: 10px;
  background: var(--background);
  box-sizing: border-box;
  position: absolute;
  top: -5px;
  left: 8px;
  transform: rotate(45deg);
  border-top: 1px solid var(--base-border);
  border-left: 1px solid var(--base-border);
  -webkit-clip-path: polygon(100% 0, 0% 100%, 0 0);
          clip-path: polygon(100% 0, 0% 100%, 0 0);
  box-shadow: var(--elevation-1);
}
body #app-mount .container-1r6BKw .children-19S4PO .status-1XNdyw {
  position: absolute;
  left: 0;
  padding: var(--spacing) var(--spacing-third);
  margin: 0 var(--spacing);
  box-sizing: border-box;
  background: var(--toolbar-background);
  pointer-events: none;
}
body #app-mount .container-1r6BKw .children-19S4PO:after {
  content: none;
}
body #app-mount .container-1r6BKw .toolbar-1t6TWx {
  height: calc(var(--toolbar-height) - 1px);
  padding: 0;
  border-right: 1px solid var(--toolbar-border);
  background: var(--toolbar-background);
}
body #app-mount .container-1r6BKw .toolbar-1t6TWx .iconWrapper-2OrFZ1 {
  margin: 0 var(--spacing);
}
body #app-mount .container-1r6BKw .toolbar-1t6TWx .iconWrapper-2OrFZ1 .iconBadge-qZ4Ksk {
  background: rgb(var(--status-red));
}
body #app-mount .container-1r6BKw .toolbar-1t6TWx a {
  display: none;
}
body #app-mount .container-1r6BKw .toolbar-1t6TWx .icon-22AiRD {
  color: var(--toolbar-text-normal);
  cursor: var(--cursor);
}
body #app-mount .container-1r6BKw .toolbar-1t6TWx .icon-22AiRD:hover {
  color: var(--toolbar-text-focus);
}
body #app-mount .container-1r6BKw .toolbar-1t6TWx .icon-22AiRD path[d="M18 9V14C18 15.657 19.344 17 21 17V18H3V17C4.656 17 6 15.657 6 14V9C6 5.686 8.686 3 12 3C15.314 3 18 5.686 18 9ZM11.9999 21C10.5239 21 9.24793 20.19 8.55493 19H15.4449C14.7519 20.19 13.4759 21 11.9999 21Z"] {
  d: path("M8.06 2C3 2 0 8 0 8s3 6 8.06 6C13 14 16 8 16 8s-3-6-7.94-6zM8 12c-2.2 0-4-1.78-4-4 0-2.2 1.8-4 4-4 2.22 0 4 1.8 4 4 0 2.22-1.78 4-4 4zm2-4c0 1.11-.89 2-2 2-1.11 0-2-.89-2-2 0-1.11.89-2 2-2 1.11 0 2 .89 2 2z");
  transform: scale(1.15) translateY(8%) translateX(8%);
}
body #app-mount .container-1r6BKw .toolbar-1t6TWx .icon-22AiRD .strikethrough-3Wiitd {
  color: rgb(var(--status-red));
  d: path("M14.822.854a.5.5 0 10-.707-.708l-2.11 2.11C10.89 1.483 9.565.926 8.06.926c-5.06 0-8.06 6-8.06 6s1.162 2.323 3.258 4.078l-2.064 2.065a.5.5 0 10.707.707L14.822.854zM4.86 9.403L6.292 7.97A1.999 1.999 0 016 6.925c0-1.11.89-2 2-2 .384 0 .741.106 1.045.292l1.433-1.433A3.98 3.98 0 008 2.925c-2.2 0-4 1.8-4 4 0 .938.321 1.798.859 2.478zm7.005-3.514l1.993-1.992A14.873 14.873 0 0116 6.925s-3 6-7.94 6a6.609 6.609 0 01-2.661-.57l1.565-1.566c.33.089.678.136 1.036.136 2.22 0 4-1.78 4-4 0-.358-.047-.705-.136-1.036zM9.338 8.415l.152-.151a1.996 1.996 0 01-.152.151z");
  fill-rule: evenodd;
  transform: scale(1.15) translateY(12%) translateX(12.5%);
}
body #app-mount .container-1r6BKw .toolbar-1t6TWx .icon-22AiRD .strikethrough-3Wiitd ~ path {
  display: none;
}
body #app-mount .container-1r6BKw .toolbar-1t6TWx .icon-22AiRD path[d="M22 12L12.101 2.10101L10.686 3.51401L12.101 4.92901L7.15096 9.87801V9.88001L5.73596 8.46501L4.32196 9.88001L8.56496 14.122L2.90796 19.778L4.32196 21.192L9.97896 15.536L14.222 19.778L15.636 18.364L14.222 16.95L19.171 12H19.172L20.586 13.414L22 12Z"] {
  d: path("M10 1.2V2l.5 1L6 6H2.2c-.44 0-.67.53-.34.86L5 10l-4 5 5-4 3.14 3.14a.5.5 0 00.86-.34V10l3-4.5 1 .5h.8c.44 0 .67-.53.34-.86L10.86.86a.5.5 0 00-.86.34z");
  transform: scale(1.15) translateY(10%) translateX(12.5%);
}
body #app-mount .container-1r6BKw .toolbar-1t6TWx .icon-22AiRD path[d="M14 8.00598C14 10.211 12.206 12.006 10 12.006C7.795 12.006 6 10.211 6 8.00598C6 5.80098 7.794 4.00598 10 4.00598C12.206 4.00598 14 5.80098 14 8.00598ZM2 19.006C2 15.473 5.29 13.006 10 13.006C14.711 13.006 18 15.473 18 19.006V20.006H2V19.006Z"] {
  d: path("M16 12.999c0 .439-.45 1-1 1H7.995c-.539 0-.994-.447-.995-.999H1c-.54 0-1-.561-1-1 0-2.634 3-4 3-4s.229-.409 0-1c-.841-.621-1.058-.59-1-3 .058-2.419 1.367-3 2.5-3s2.442.58 2.5 3c.058 2.41-.159 2.379-1 3-.229.59 0 1 0 1s1.549.711 2.42 2.088C9.196 9.369 10 8.999 10 8.999s.229-.409 0-1c-.841-.62-1.058-.59-1-3 .058-2.419 1.367-3 2.5-3s2.437.581 2.495 3c.059 2.41-.158 2.38-1 3-.229.59 0 1 0 1s3.005 1.366 3.005 4z");
  transform: scale(1.15) translateY(10%) translateX(10%);
}
body #app-mount .container-1r6BKw .toolbar-1t6TWx .icon-22AiRD path[d="M14 8.00598C14 10.211 12.206 12.006 10 12.006C7.795 12.006 6 10.211 6 8.00598C6 5.80098 7.794 4.00598 10 4.00598C12.206 4.00598 14 5.80098 14 8.00598ZM2 19.006C2 15.473 5.29 13.006 10 13.006C14.711 13.006 18 15.473 18 19.006V20.006H2V19.006Z"] ~ path {
  display: none;
}
body #app-mount .container-1r6BKw .toolbar-1t6TWx .icon-22AiRD path[d="M19 3H4.99C3.88 3 3.01 3.89 3.01 5L3 19C3 20.1 3.88 21 4.99 21H19C20.1 21 21 20.1 21 19V5C21 3.89 20.1 3 19 3ZM19 15H15C15 16.66 13.65 18 12 18C10.35 18 9 16.66 9 15H4.99V5H19V15Z"] {
  d: path("M14 9l-1.13-7.14c-.08-.48-.5-.86-1-.86H2.13c-.5 0-.92.38-1 .86L0 9v5c0 .55.45 1 1 1h12c.55 0 1-.45 1-1V9zm-3.28.55l-.44.89c-.17.34-.52.56-.91.56H4.61c-.38 0-.72-.22-.89-.55l-.44-.91c-.17-.33-.52-.55-.89-.55H1l1-7h10l1 7h-1.38c-.39 0-.73.22-.91.55l.01.01z");
  transform: scale(1.15) translateY(10%) translateX(14%);
}
body #app-mount .container-1r6BKw .toolbar-1t6TWx .icon-22AiRD path[d="M21.526 8.149C21.231 7.966 20.862 7.951 20.553 8.105L18 9.382V7C18 5.897 17.103 5 16 5H4C2.897 5 2 5.897 2 7V17C2 18.104 2.897 19 4 19H16C17.103 19 18 18.104 18 17V14.618L20.553 15.894C20.694 15.965 20.847 16 21 16C21.183 16 21.365 15.949 21.526 15.851C21.82 15.668 22 15.347 22 15V9C22 8.653 21.82 8.332 21.526 8.149Z"] {
  d: path("M15.2 2.09L10 5.72V3c0-.55-.45-1-1-1H1c-.55 0-1 .45-1 1v9c0 .55.45 1 1 1h8c.55 0 1-.45 1-1V9.28l5.2 3.63c.33.23.8 0 .8-.41v-10c0-.41-.47-.64-.8-.41z");
  transform: scale(1.15) translateY(10%) translateX(12.5%);
}
body #app-mount .container-1r6BKw .toolbar-1t6TWx .icon-22AiRD path[d="M11 5V3C16.515 3 21 7.486 21 13H19C19 8.589 15.411 5 11 5ZM17 13H15C15 10.795 13.206 9 11 9V7C14.309 7 17 9.691 17 13ZM11 11V13H13C13 11.896 12.105 11 11 11ZM14 16H18C18.553 16 19 16.447 19 17V21C19 21.553 18.553 22 18 22H13C6.925 22 2 17.075 2 11V6C2 5.447 2.448 5 3 5H7C7.553 5 8 5.447 8 6V10C8 10.553 7.553 11 7 11H6C6.063 14.938 9 18 13 18V17C13 16.447 13.447 16 14 16Z"] {
  d: path("M11 10c-1 1-1 2-2 2s-2-1-3-2-2-2-2-3 1-1 2-2-2-4-3-4-3 3-3 3c0 2 2.055 6.055 4 8s6 4 8 4c0 0 3-2 3-3s-3-4-4-3z");
  transform: scale(1.15) translateY(8%) translateX(12.5%);
}
body #app-mount .container-1r6BKw .toolbar-1t6TWx .icon-22AiRD path[d="M20.998 0V3H23.998V5H20.998V8H18.998V5H15.998V3H18.998V0H20.998ZM2.99805 20V24L8.33205 20H14.998C16.102 20 16.998 19.103 16.998 18V9C16.998 7.896 16.102 7 14.998 7H1.99805C0.894047 7 -0.00195312 7.896 -0.00195312 9V18C-0.00195312 19.103 0.894047 20 1.99805 20H2.99805Z"] {
  d: path("M6 11.5c0-2.363 1.498-4.383 3.594-5.159 0.254-0.571 0.406-1.206 0.406-1.841 0-2.485 0-4.5-3-4.5s-3 2.015-3 4.5c0 1.548 0.898 3.095 2 3.716v0.825c-3.392 0.277-6 1.944-6 3.959h6.208c-0.135-0.477-0.208-0.98-0.208-1.5z M11.5 7c-2.485 0-4.5 2.015-4.5 4.5s2.015 4.5 4.5 4.5c2.485 0 4.5-2.015 4.5-4.5s-2.015-4.5-4.5-4.5zM14 12h-2v2h-1v-2h-2v-1h2v-2h1v2h2v1z");
  transform: scale(1.15) translateY(16%) translateX(12.5%);
}
body #app-mount .container-1r6BKw .toolbar-1t6TWx .icon-22AiRD .updateIconForeground-3tnNZn {
  transform: scale(1.15) translateY(10%) translateX(17%);
  d: path("M10.236 7.4a4.15 4.15 0 0 1-1.2 3.6 4.346 4.346 0 0 1-5.41.54l1.17-1.14-4.3-.6.6 4.2 1.31-1.26c2.36 1.74 5.7 1.57 7.84-.54a5.876 5.876 0 0 0 1.74-4.46l-1.75-.34zM2.956 5a4.346 4.346 0 0 1 5.41-.54L7.196 5.6l4.3.6-.6-4.2-1.31 1.26c-2.36-1.74-5.7-1.57-7.85.54-1.24 1.23-1.8 2.85-1.73 4.46l1.75.35A4.17 4.17 0 0 1 2.956 5z");
  fill: currentColor;
}
body #app-mount .container-1r6BKw .toolbar-1t6TWx .selected-1GqIat .icon-22AiRD {
  color: var(--toolbar-text-focus);
}
body #app-mount .container-1r6BKw .toolbar-1t6TWx .divider-3FBTu8 {
  display: none;
}
body #app-mount .container-1r6BKw .children-19S4PO path[d="M14 8.00598C14 10.211 12.206 12.006 10 12.006C7.795 12.006 6 10.211 6 8.00598C6 5.80098 7.794 4.00598 10 4.00598C12.206 4.00598 14 5.80098 14 8.00598ZM2 19.006C2 15.473 5.29 13.006 10 13.006C14.711 13.006 18 15.473 18 19.006V20.006H2V19.006Z"] {
  d: path("M16 12.999c0 .439-.45 1-1 1H7.995c-.539 0-.994-.447-.995-.999H1c-.54 0-1-.561-1-1 0-2.634 3-4 3-4s.229-.409 0-1c-.841-.621-1.058-.59-1-3 .058-2.419 1.367-3 2.5-3s2.442.58 2.5 3c.058 2.41-.159 2.379-1 3-.229.59 0 1 0 1s1.549.711 2.42 2.088C9.196 9.369 10 8.999 10 8.999s.229-.409 0-1c-.841-.62-1.058-.59-1-3 .058-2.419 1.367-3 2.5-3s2.437.581 2.495 3c.059 2.41-.158 2.38-1 3-.229.59 0 1 0 1s3.005 1.366 3.005 4z");
  transform: scale(1.15) translateY(10%);
}
body #app-mount .container-1r6BKw .children-19S4PO path[d="M14 8.00598C14 10.211 12.206 12.006 10 12.006C7.795 12.006 6 10.211 6 8.00598C6 5.80098 7.794 4.00598 10 4.00598C12.206 4.00598 14 5.80098 14 8.00598ZM2 19.006C2 15.473 5.29 13.006 10 13.006C14.711 13.006 18 15.473 18 19.006V20.006H2V19.006Z"] ~ path {
  display: none;
}
body #app-mount .container-1r6BKw .search-36MZv- {
  position: absolute;
  right: 0;
  margin: 0;
  padding: 0 var(--spacing);
  height: calc(var(--toolbar-height) - 1px);
  display: flex;
  align-items: center;
  background: var(--toolbar-background);
  z-index: 1;
}
body #app-mount .container-1r6BKw .search-36MZv- .focused-31_ccS .searchBar-3dMhjb {
  border: 1px solid var(--accent-solid);
  box-shadow: 0 0 0 2px rgba(var(--accent), 0.25);
}
body #app-mount .container-1r6BKw .search-36MZv- .searchBar-3dMhjb {
  border-radius: var(--border-radius);
  background: var(--toolbar-search-background);
  font-size: var(--font-size);
  font-weight: var(--font-weight-normal);
  border: 1px solid var(--toolbar-search-border);
  color: var(--toolbar-text-normal);
  padding: 0 var(--spacing-half);
  height: var(--input-height);
  box-sizing: border-box;
  width: calc(var(--sidebar-width) / 1.35 - var(--spacing-double));
}
body #app-mount .container-1r6BKw .search-36MZv- .searchBar-3dMhjb .icon-38sknP {
  width: -webkit-fit-content;
  width: fit-content;
  order: -1;
  margin-right: var(--spacing-half);
}
body #app-mount .container-1r6BKw .search-36MZv- .searchBar-3dMhjb .icon-38sknP .iconContainer-O4O2CN {
  height: 14px;
  width: 14px;
  cursor: var(--cursor);
}
body #app-mount .container-1r6BKw .search-36MZv- .searchBar-3dMhjb .icon-38sknP .iconContainer-O4O2CN .icon-3cZ1F_ {
  color: var(--toolbar-text-muted);
  transition: none;
}
body #app-mount .container-1r6BKw .search-36MZv- .searchBar-3dMhjb .icon-38sknP .iconContainer-O4O2CN .icon-3cZ1F_ path[d="M21.707 20.293L16.314 14.9C17.403 13.504 18 11.799 18 10C18 7.863 17.167 5.854 15.656 4.344C14.146 2.832 12.137 2 10 2C7.863 2 5.854 2.832 4.344 4.344C2.833 5.854 2 7.863 2 10C2 12.137 2.833 14.146 4.344 15.656C5.854 17.168 7.863 18 10 18C11.799 18 13.504 17.404 14.9 16.314L20.293 21.706L21.707 20.293ZM10 16C8.397 16 6.891 15.376 5.758 14.243C4.624 13.11 4 11.603 4 10C4 8.398 4.624 6.891 5.758 5.758C6.891 4.624 8.397 4 10 4C11.603 4 13.109 4.624 14.242 5.758C15.376 6.891 16 8.398 16 10C16 11.603 15.376 13.11 14.242 14.243C13.109 15.376 11.603 16 10 16Z"] {
  d: path("M15.7 13.3l-3.81-3.83A5.93 5.93 0 0 0 13 6c0-3.31-2.69-6-6-6S1 2.69 1 6s2.69 6 6 6c1.3 0 2.48-.41 3.47-1.11l3.83 3.81c.19.2.45.3.7.3.25 0 .52-.09.7-.3a.996.996 0 0 0 0-1.41v.01zM7 10.7c-2.59 0-4.7-2.11-4.7-4.7 0-2.59 2.11-4.7 4.7-4.7 2.59 0 4.7 2.11 4.7 4.7 0 2.59-2.11 4.7-4.7 4.7z");
  transform: scale(1.375) translateY(1px);
}
body #app-mount .container-1r6BKw .search-36MZv- .searchBar-3dMhjb .icon-38sknP .iconContainer-O4O2CN .icon-3cZ1F_ path[d="M18.4 4L12 10.4L5.6 4L4 5.6L10.4 12L4 18.4L5.6 20L12 13.6L18.4 20L20 18.4L13.6 12L20 5.6L18.4 4Z"] {
  d: path("M7.48 8l3.75 3.75-1.48 1.48L6 9.48l-3.75 3.75-1.48-1.48L4.52 8 .77 4.25l1.48-1.48L6 6.52l3.75-3.75 1.48 1.48L7.48 8z");
  transform: scale(1.375) translateY(1px) translateX(2.5px);
}
body #app-mount .container-1r6BKw .search-36MZv- .searchBar-3dMhjb .DraftEditor-root {
  font-size: var(--font-size);
  font-weight: var(--font-weight-normal);
  line-height: normal;
  padding: 0;
  height: 100%;
}
body #app-mount .container-1r6BKw .search-36MZv- .searchBar-3dMhjb .DraftEditor-root .public-DraftEditorPlaceholder-root {
  padding: 0;
  color: var(--toolbar-text-muted);
  line-height: normal;
  height: 100%;
  display: flex;
  align-items: center;
}
body #app-mount .container-1r6BKw .search-36MZv- .searchBar-3dMhjb .DraftEditor-root .DraftEditor-editorContainer {
  height: 100%;
}
body #app-mount .container-1r6BKw .search-36MZv- .searchBar-3dMhjb .DraftEditor-root .DraftEditor-editorContainer .public-DraftEditor-content {
  padding: 0;
  display: flex;
  align-items: center;
}
body #app-mount .container-1r6BKw .search-36MZv- .searchBar-3dMhjb .searchFilter-2ESiM3,
body #app-mount .container-1r6BKw .search-36MZv- .searchBar-3dMhjb .searchAnswer-3Dz2-q {
  margin: 0;
  border-radius: var(--button-border-radius);
  display: inline-flex;
  align-items: center;
  line-height: normal;
  background: var(--toolbar-background-active);
  margin-right: var(--spacing-third);
  font-size: var(--font-size-sm);
  color: var(--toolbar-text-normal);
}
body #app-mount .container-1r6BKw.title-3qD0b- .children-19S4PO:hover {
  background: var(--toolbar-background-hover);
}
body #app-mount .container-1r6BKw.title-3qD0b- .children-19S4PO:hover .title-29uC1r {
  color: var(--toolbar-text-focus);
}
body #app-mount .container-1r6BKw.title-3qD0b- .children-19S4PO:hover .status-1XNdyw {
  background: var(--toolbar-background-hover);
}
body #app-mount .container-1r6BKw.title-3qD0b- .children-19S4PO:hover .nicknames-1XK4Zt {
  opacity: 1;
}



/* #app-mount .guilds-1SWlCJ .tutorialContainer-1v44GL .childWrapper-anI2G9 {
    background: transparent !important;
  }
  #app-mount .guilds-1SWlCJ .tutorialContainer-1v44GL [class*=pill] {
    display: none;
  }
  #app-mount .guilds-1SWlCJ .tutorialContainer-1v44GL .wrapper-25eVIn {
    display: flex;
    align-items: center;
    height: var(--toolbar-height);
    background: transparent !important;
  }
  #app-mount .guilds-1SWlCJ .tutorialContainer-1v44GL .wrapper-25eVIn .wrapper-1BJsBx {
    background: transparent !important;
  }
  #app-mount .guilds-1SWlCJ .tutorialContainer-1v44GL .listItem-2P_4kh {
    margin-bottom: 0;
  }
  #app-mount .guilds-1SWlCJ .tutorialContainer-1v44GL .svg-1X37T1 {
    height: var(--toolbar-height);
    width: var(--server-icon-size);
    left: 50%;
    transform: translateX(-50%);
  }
  #app-mount .guilds-1SWlCJ .tutorialContainer-1v44GL .lowerBadge-29hYVK {
    margin-bottom: 28px;
    margin-right: 5px;
  }
  #app-mount .guilds-1SWlCJ .tutorialContainer-1v44GL .lowerBadge-29hYVK .numberBadge-2s8kKX {
    box-shadow: 0 0 0 3px var(--guilds-background);
  }
  #app-mount .guilds-1SWlCJ .tutorialContainer-1v44GL .upperBadge-2XnnGB {
    top: 5px;
    right: 0px;
    transform: none !important;
  }
  #app-mount .guilds-1SWlCJ .tutorialContainer-1v44GL .upperBadge-2XnnGB .downloadProgress-3lBtPV {
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
  }
  #app-mount .guilds-1SWlCJ .tutorialContainer-1v44GL .upperBadge-2XnnGB .downloadProgress-3lBtPV .circleBackgroundAlt-Eohdst {
    fill: var(--background);
  }
  #app-mount .guilds-1SWlCJ .tutorialContainer-1v44GL .upperBadge-2XnnGB .downloadProgress-3lBtPV .circleBackground-OqqxHM {
    fill: var(--background-light);
  }
  #app-mount .guilds-1SWlCJ .tutorialContainer-1v44GL .upperBadge-2XnnGB .downloadProgress-3lBtPV .circleProgress-1EBmVn {
    stroke: var(--accent-solid);
  }
  #app-mount .guilds-1SWlCJ .tutorialContainer-1v44GL .upperBadge-2XnnGB .downloadProgress-3lBtPV .downloadIcon-3TWA3B {
    padding: var(--spacing-half);
    color: var(--text-normal);
  }
  #app-mount .guilds-1SWlCJ .tutorialContainer-1v44GL .upperBadge-2XnnGB .downloadProgress-3lBtPV .downloadIcon-3TWA3B path {
    d: path("M7.47 10.78a.75.75 0 001.06 0l3.75-3.75a.75.75 0 00-1.06-1.06L8.75 8.44V1.75a.75.75 0 00-1.5 0v6.69L4.78 5.97a.75.75 0 00-1.06 1.06l3.75 3.75zM3.75 13a.75.75 0 000 1.5h8.5a.75.75 0 000-1.5h-8.5z");
    transform: scale(1.5);
  } */



/* Nord */


