.theme-dark.authBox-hW6HRx {
    background-color: #2E3440;
}

.lookFilled-1Gx00P.colorBrand-3pXr91 {
    background-color: #3B4252;
    font-family: Rubik;
    border-radius: 2rem;
}

.lookLink-9FtZy-.colorBrand-3pXr91 {
    color: #BF616A;
}

.input-cIJ7To {
    border-radius: 2rem;
}

.input-cIJ7To.focused-1mmYsC, .input-cIJ7To:focus {
    border-color: #BF616A;
}

.chatContent-a9vAAp {
    background-color: #2E3440;
}

.clickable-3rdHwn .icon-22AiRD {
    color: #E5E9F0;
}

.lookFilled-1Gx00P.colorBrand-3pXr91 {
    background-color: #BF616A;
}

.container-3w7J-x {
    background-color: #2E3440;
}

.container-3baos1, .container-3baos1 .avatar-SmRMf2 {
    background-color: #2E3440;
}

.container-1r6BKw.themed-ANHk51 {
    background-color: #2E3440;
}
    
.scroller-2TZvBN {
    background-color: #3B4252;
}

.scrollableContainer-2NUZem {
    background-color: #3B4252;
}

.iconBadge-qZ4Ksk {
    background-color: #BF616A;
}

.grid-1nZz7S {
    background-color: #3B4252;
    border-radius: 0 1rem 1rem 0;
}

.newMessagesBar-265mhP {
    background-color: #BF616A;
}

.uploadModal-2ifh8j {
    background-color: #2E3440;
}

.theme-dark .footer-3mqk7D {
    background-color: #2E3440;
}

.modeSelected-346R90 .content-1x5b-n, .modeSelected-346R90:hover .content-1x5b-n {
    background-color: #BF616A;
}

.modeSelected-346R90 .content-1x5b-n, .modeSelected-346R90 .icon-1DeIlz {
    color: #E5E9F0;
}

.isUnread-3Ef-o9 {
    border-color: #BF616A;
}

.unreadPill-2HyYtt {
    background-color: #BF616A;
    color: #E5E9F0;
}

.isUnread-3Ef-o9 .content-1o0f9g {
    color: #E5E9F0;
    background-color: #BF616A;
}

.unreadPillCapStroke-7rkHbg {
    fill: #BF616A;
    color: #BF616A;
}

.group-spacing-16 .divider-3_HH5L.hasContent-1_DUdQ {
    background-color: #3B4252;
}

.content-1o0f9g {
    background-color: #3B4252;
    color: #E5E9F0;
}

.name-23GUGE {
    color: #4A5976;
}

.rtcConnectionStatusConnected-VRZDjy {
    color: #A3BE8C;
}

.rtcConnectionQualityFine-2J6i8z .pingForeground-2uAOZ3 {
    color: #A3BE8C;
}

.mention-1f5kbO {
    background-color: #BF616A;
}

/*3B4252*/




